.main {
  // padding: 6rem;
  margin-top: 80px;
  min-height: 100vh;
  .intro {
    // margin-top: 30px;
    height: 400px;
    background-image: url("/bg-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    .toptxt {
      font-size: 25px;
      color: #dd2c00;
      font-weight: 400;
    }
    .bottomtxt {
      color: #757575;
    }
  }
  .freeCourses {
    .firstP {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      font-size: 20px;
      font-weight: 600;
      color: grey;
    }
    .courses {
      display: flex;
      flex-flow: row wrap;
      gap: 20px;
      justify-content: space-around;
      .description {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 16px;
      }
    }
  }
  .studentFeedback {
    .header {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      margin-top: 20px;
    }
    .students {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      column-gap: 20px;
      align-items: center;
      height: 250px;
      overflow-y: hidden;
      overflow-x: scroll;
      scrollbar-color: #f5f5f5 white;
      scrollbar-width: thin;
      margin-bottom: 20px;
      .card {
        min-width: 350px;
        height: 220px;
        padding: 15px;
        .cardImage {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 7;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-bottom: 20px;
          img {
            &:hover {
              opacity: 0.6;
            }
          }
        }
      }
    }
  }
}
