$padding1: 10px;
$rowGap1: 20px;
$rowGap2: 10px;

.container {
  padding: $padding1;
  .course {
    display: flex;
    flex-direction: column;
    row-gap: $rowGap1;
    .hearder{
        background-image: url("/home-background.jpg");
        height: 70px;
        background-color: lawngreen;
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode:color;
        padding: $padding1;
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding-right: 30px;
    }
    
    

    .fdback {
      display: flex;
      flex-direction: column;
      row-gap: $rowGap2;
      .paper {
        height: 240px;
        .msg {
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 8;
          -webkit-box-orient: vertical;
        }
      }
      .paperReadMore {
        background-color: #fdfff5;
        overflow-y: auto;
        .msg {
        }
      }
    }
  }
}
