.container {
    height: 80vh;
    overflow-y: auto;
    .search{
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      margin-bottom: 20px;
      .input{
        height: 30px;
        width: 250px;
        border-radius: 15px;
        text-align: center;
        border: 1px solid limegreen;
        font-size: 14px;
      }
      .input:focus { 
        outline: none !important;
        border:1px solid lawngreen;
    }
    }
  .courses {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    row-gap: 20px;
    .card {
      box-shadow: 0 0 1px limegreen;
      .description {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
  }
}
