.container {
    min-height: calc(100vh - 50px);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 100%;
    align-items: center;
    row-gap: 10px;
    .usercon{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }
    .form {
        width: 400px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        row-gap: 10px;
    }
}

@media screen and (max-width: 450px) {
  .container{
    .form{
        width: 100% !important;
        padding: 8px;
    }
  }
}